@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  overflow: hidden;
  margin: 0;
  padding-top: 5rem;
  justify-content: center;
  background-color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
}

.row {
  display: flex;
  width: 600px;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.col-header {
  padding: 0.8rem 1rem;
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  color: #fff;
}

.item {
  position: relative;
  padding: 0.8rem 1rem;
  width: 150px;
  height: 66px;
  background: #f7f6f7;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  color: #828282;
  text-align: center;
  transform: translateY(0);
  transition: transform 1s;
  cursor: grab;
}

.item::after {
  position: absolute;
  content: "";
  display: block;
  bottom: -20px;
  left: 50%;
  height: 5px;
  width: 100%;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translate(-50%, 0);
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.hold.item::after{
  opacity: .3;
}

.hide {
  display: none;
}

.hovered {
  height: 100vh;
  background: linear-gradient(180deg, #e5e5e5 0%, #d7d8d9 200%);
}
